.container {
  background-color: var(--box-outer);
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-body {
  background-color: var(--box-inner);
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
