.container {
  background-color: var(--box-outer);
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-body {
  margin-top: 1rem;
  background-color: var(--box-outer);
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
