.topnav {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--box-outer);
  overflow: hidden;
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
}

.nav-link {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.6rem;
  max-width: var(--maxW);
  color: black;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.nav-header {
  padding-left: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 0.3rem;
}

.nav-link:hover {
  text-decoration-style: solid;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 1024px;
  align-items: center;
  margin: auto;
}

@media (max-width: 767px) {
  .nav-items {
    width: 90%;
  }
}

.moon {
  color: #ffd43b;
  font-size: 2rem;
}
