.topnav {
  background-color: black;
  overflow: hidden;
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.topnav a {
  text-decoration: none;
  width: 70%;
  color: white;
  font-size: 2rem;
}

.topnav a:hover {
  color: blue;
}
