.post-container {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 1rem;
  background-color: var(--box-inner);
  gap: 0.5rem;
  border-bottom: 2px dotted var(--box-outer);
}

.post-container:hover {
  border-bottom: 2px dotted var(--hover);
}

h2 {
  text-overflow: ellipsis;
  font-size: 1.5rem;
  width: 50%;
}

.post-info {
  font-style: italic;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}
