.post-container {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 1rem;
  background-color: var(--box-inner);
  gap: 0.5rem;
  border-bottom: 2px dotted var(--hover);
}

.post-container:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.post-header {
  text-overflow: ellipsis;
  font-size: 1.5rem;
  width: 100%;
  font-weight: bold;
  color: var(--heading);
}

.post-info {
  font-style: italic;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}
