.arrow {
  font-size: 3rem;
}

.arrow:hover {
  color: var(--hover);
}

hr {
  width: 100%;
  border: 1px solid var(--box-outer);
}

.post-heading {
  margin: 1rem 0 1rem 0;
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--heading);
}

#post-text {
  padding: 1rem 0 1rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  white-space: pre-wrap;
}

.post-body {
  border-radius: 0.2rem;
  padding: 1rem;
  background-color: var(--box-inner);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.post-footer {
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.post-footer p {
  font-size: 0.7rem;
}

.postpage-body {
  margin-top: 1rem;
  background-color: var(--box-inner);
  width: 70%;
  max-width: var(--maxW);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 1024px) {
  .postpage-body {
    width: 90%;
  }
}
